<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syxx.hr.mapper.JoblevelMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.syxx.hr.entity.Joblevel">
                    <id column="id" property="id"/>
                    <result column="name" property="name"/>
                    <result column="titleLevel" property="titleLevel"/>
                    <result column="createDate" property="createDate"/>
                    <result column="enabled" property="enabled"/>
        </resultMap>

    <sql id="selectVo">
        select
        id, name, titleLevel, createDate, enabled
       from joblevel a
    </sql>
    <select id="getListByCondition" parameterType="com.syxx.hr.entity.Joblevel" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where 1=1
         <if test="name!=null and name!=''">
             and a.name like "%" #{name} "%"
         </if>
        <if test="titleLevel!=null and titleLevel!=''">
            and a.titleLevel like "%" #{titleLevel} "%"
        </if>
        <if test="enabled!=null">
            and a.enabled = #{enabled}
        </if>
    </select>

</mapper>
