<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syxx.hr.mapper.SalaryMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.syxx.hr.entity.Salary">
                    <id column="id" property="id"/>
                    <result column="basicSalary" property="basicSalary"/>
                    <result column="bonus" property="bonus"/>
                    <result column="lunchSalary" property="lunchSalary"/>
                    <result column="trafficSalary" property="trafficSalary"/>
                    <result column="allSalary" property="allSalary"/>
                    <result column="pensionBase" property="pensionBase"/>
                    <result column="pensionPer" property="pensionPer"/>
                    <result column="createDate" property="createDate"/>
                    <result column="medicalBase" property="medicalBase"/>
                    <result column="medicalPer" property="medicalPer"/>
                    <result column="accumulationFundBase" property="accumulationFundBase"/>
                    <result column="accumulationFundPer" property="accumulationFundPer"/>
                    <result column="name" property="name"/>
                    <result column="attendance_salary" property="attendanceSalary"/>
        </resultMap>

    <resultMap id="BaseResultMap1" type="com.syxx.hr.entity.Salary">
        <id column="id" property="salaryId"/>
        <result column="basicSalary" property="basicSalary"/>
        <result column="bonus" property="bonus"/>
        <result column="lunchSalary" property="lunchSalary"/>
        <result column="trafficSalary" property="trafficSalary"/>
        <result column="allSalary" property="allSalary"/>
        <result column="pensionBase" property="pensionBase"/>
        <result column="pensionPer" property="pensionPer"/>
        <result column="medicalBase" property="medicalBase"/>
        <result column="medicalPer" property="medicalPer"/>
        <result column="accumulationFundBase" property="accumulationFundBase"/>
        <result column="accumulationFundPer" property="accumulationFundPer"/>
        <result column="name" property="salaryName"/>
        <result column="attendance_salary" property="attendanceSalary"/>
    </resultMap>

    <sql id="selectVo">
        select
        id, basicSalary, bonus, lunchSalary, trafficSalary, allSalary, pensionBase, pensionPer, createDate, medicalBase, medicalPer, accumulationFundBase, accumulationFundPer, name, attendance_salary
       from salary a
    </sql>
    <select id="getListByCondition" parameterType="com.syxx.hr.entity.Salary" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where 1=1
         <if test="name!=null and name!= ''">
           and a.name like "%" #{name} "%"
         </if>
        <if test="createDate!=null">
            and a.createDate = #{createDate}
        </if>
    </select>
    <select id="getList" parameterType="com.syxx.hr.entity.Salary" resultMap="BaseResultMap1">
        select
            id, basicSalary, bonus, lunchSalary, trafficSalary, allSalary, pensionBase, pensionPer,medicalBase, medicalPer, accumulationFundBase, accumulationFundPer, name,attendance_salary
        from salary a
    </select>

</mapper>
